@use 'base/variables' as v;
@use 'base/mixins' as m;

.citas-admin{


padding: 0;

li{
    list-style-type: none;
    padding: 1rem;
    border-top: 1px solid v.$blanco;
    


}

p{
font-weight: bold;
color: v.$azul;


}

.servicio,span{
    
        font-weight: v.$regular;
        color:v.$blanco;
    
}

}

.services{
    @extend .citas-admin;//Para heredar estilos de otras clases

    .actions{
        margin: 0;
    }
       .button,
       .button-delete{
        margin: 1;
        max-width: 25rem;
       }
    
}

